$shadow: 8px 15px 4px 2px rgba(0, 0, 0, 0.35);
$hero-shadow: 10px 16px 4px rgba(0, 0, 0, 0.35);
$sales-shadow: 10px 14px 4px rgba(0, 0, 0, 0.35);
$products-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
$cart-products-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
