@use "../variables" as *;
@use "../utils" as *;
@use "./buttons" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: em(116);
  @media (max-width: $tablet) {
    font-size: rem(16);
  }
  @media (max-width: $mobile) {
    font-size: rem(14);
  }

  &__container {
    height: em(76);
    display: flex;
    align-items: center;
    gap: em(82);

    > div:first-child {
      display: flex;
      align-items: center;
      gap: em(18);
      height: 100%;
      flex-grow: 1;
    }
    @media (max-width: $laptop) {
      gap: em(24);
    }
  }
  &__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: $logo-color;
    padding: em(10) em(12);
  }
  &__logo {
    fill: $primary-color-light;
    max-width: em(80);
  }
  &__input-container {
    display: flex;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    &--scrolled {
      box-shadow: $header-shadow;
    }
  }
  &__input {
    flex-grow: 1;
    height: 100%;
    padding: em(20) em(28);
    padding-right: 0;
  }
  &__search-icon {
    height: 100%;
    padding: em(14);
    background-color: $primary-color-light;
    max-width: em(76);
    fill: $primary-color;
  }
}

.buttons {
  display: flex;
  align-items: center;
  height: 100%;
  gap: em(44);
  &__action-btn {
    position: relative;
    @include button();
    &--scrolled {
      box-shadow: $header-shadow;
    }
    @media (max-width: $laptop) {
      display: none;
    }
  }
  &__cart-icon {
    fill: $text-color;
    height: 100%;
    max-width: em(48);
  }

  &__indicator {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 20px;
    border-radius: 20px;
    color: $primary-color-light;
    font-size: 12px;
    background-color: $text-color;
    &--active {
      display: flex;
    }
  }

  &__burger {
    @include button();
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: em(6);

    > span {
      width: em(36);
      height: em(4);
      background-color: $text-color;
      transition: 0.2s;

      @media (max-width: $mobile) {
        width: em(36);
        height: em(3);
      }
    }

    &--active {
      span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
        @media (max-width: $tablet) {
          transform: translateY(6px) rotate(45deg);
        }
        @media (max-width: $mobile) {
          transform: translateY(5px) rotate(45deg);
        }
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
        @media (max-width: $tablet) {
          transform: translateY(-8px) rotate(-45deg);
        }
        @media (max-width: $mobile) {
          transform: translateY(-6px) rotate(-45deg);
        }
      }
    }
    &--scrolled {
      box-shadow: $header-shadow;
    }
  }
}
