@use "../variables" as *;
@use "../utils" as *;
@use "./buttons" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: em(116);
  &__container {
    height: em(76);
    display: flex;
    align-items: center;
    gap: em(82);

    > div:first-child {
      display: flex;
      align-items: center;
      gap: em(18);
      height: 100%;
      flex-grow: 1;
    }
  }
  &__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: $logo-color;
    padding: em(10) em(12);
  }
  &__logo {
    fill: $primary-color-light;
    max-width: em(80);
  }
  &__input-container {
    display: flex;
    align-items: center;
    height: 100%;
    flex-grow: 1;
  }
  &__input {
    flex-grow: 1;
    height: 100%;
    padding: em(20) em(28);
    padding-right: 0;
  }
  &__search-btn {
    height: 100%;
    padding: em(14);
    background-color: $primary-color-light;
    > svg {
      fill: $text-color;
      max-width: em(48);
      height: 100%;
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  height: 100%;
  gap: em(44);
  &__action-btn {
    @include button();
  }
  &__cart-icon {
    fill: $text-color;
    height: 100%;
    max-width: em(48);
  }
  &__burger {
    @include button();
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: em(6);

    > span {
      width: em(36);
      height: em(4);
      background-color: $text-color;
    }
  }
}
