@use "../utils" as *;

h1 {
  @include fluid-text(48, 24);
}
// h2 {
//   @include fluid-text(40, 28);
// }
// h3 {
//   @include fluid-text(36, 24);
// }
// h4 {
//   @include fluid-text(32, 20);
// }
// h5 {
//   @include fluid-text(24, 20);
// }
// h6 {
//   @include fluid-text(20, 18);
// }
// body {
//   @include fluid-text(24, 16);
// }
p {
  @include fluid-text(32, 16);
}
