@use "components" as *;
@use "base/reset" as *;
@use "variables" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: clip;
}

body {
  font-family: "Roboto", "Helvetica", "Segoe UI", sans-serif;
  background-color: $primary-color;
  height: 100%;
}

[class*="__container"] {
  max-inline-size: 1270px;
  width: 100%;
  padding-inline: 15px;
  margin-inline: auto;
}
