@use "components" as *;
@use "base/reset" as *;
@use "variables" as *;
@use "utils" as *;
@use "sections" as *;

html {
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: clip;
}

body {
  padding-top: 140px;
  font-family: "Mina", sans-serif;
  background-color: $primary-color;
  height: 100%;
  @media (max-width: $tablet) {
    padding-top: 90px;
  }
}

section {
  margin-bottom: em(100);
  @media (max-width: $tablet) {
    margin-bottom: em(70);
  }
}

[class*="__container"] {
  max-inline-size: 1270px;
  width: 100%;
  padding-inline: 15px;
  margin-inline: auto;
}
