@use "components" as *;
@use "base/reset" as *;
@use "variables" as *;
@use "utils" as *;
@use "sections" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: clip;
}

body {
  font-size: rem(24);
  padding-top: 140px;
  font-family: "Mina", sans-serif;
  background-color: $primary-color;
  height: 100%;
}

section {
  box-shadow: 8px 15px 4px 2px rgba(0, 0, 0, 0.35);
  margin-bottom: em(100);
}

[class*="__container"] {
  max-inline-size: 1270px;
  width: 100%;
  padding-inline: 15px;
  margin-inline: auto;
}
