@use "../variables/colors" as *;

.cart-section {
  &__container {
  }
  &__content {
    background-color: $primary-color-light;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    width: 100%;
  }
  &__empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__empty-title {
    margin-bottom: 50px;
  }
  &__empty-img {
    width: 90%;
    margin-bottom: 100px;
  }
  &__empty-link {
    text-decoration: underline;
  }
}
