@use "../variables" as *;
@use "../utils/functions" as *;

.cart-section {
  padding-bottom: em(50);

  &__content {
    background-color: $primary-color-light;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: em(600);
    width: 100%;
    padding: clamp(rem(20), 4vw, rem(50)) clamp(rem(16), 3vw, rem(32));
    border-radius: em(20);
    gap: clamp(rem(20), 3vw, rem(40));

    &--empty {
      justify-content: center;
      align-items: center;
    }

    @media (max-width: $laptop) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__empty-title {
    margin-bottom: em(50);
  }

  &__empty-img {
    width: 90%;
    margin-bottom: em(100);

    @media (max-width: $tablet) {
      margin-bottom: em(50);
    }
  }

  &__empty-link {
    text-decoration: underline;
  }

  &__product-container {
    display: flex;
    flex-direction: column;
    gap: em(24);
    width: 60%;
    align-self: flex-start;

    @media (max-width: $laptop) {
      width: 100%;
    }
  }
}

.product-card {
  display: flex;
  gap: clamp(rem(12), 2vw, rem(20));
  border: 1px solid $border-color;
  border-radius: em(14);
  padding: clamp(rem(12), 2vw, rem(24));
  box-shadow: $cart-products-shadow;

  &__img {
    width: clamp(rem(80), 15vw, rem(175));
    aspect-ratio: 175 / 204;
    object-fit: contain;
    border-radius: em(14);
    border: 2px solid $border-color;
    flex-shrink: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    gap: 15px;
  }

  &__title {
    font-size: clamp(rem(16), 1.5vw, rem(24));
  }

  &__price {
    display: flex;
    align-items: center;
    gap: em(5);
  }

  &__old-price {
    font-size: rem(16);
    opacity: 0.5;
  }

  &__quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(rem(10), 2vw, rem(20));
  }

  &__input-container {
    display: flex;
    align-items: center;
    gap: em(8);
  }

  &__delete-button {
    background-color: transparent;
    text-decoration: underline;
    font-size: rem(16);
  }

  &__input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    -moz-appearance: textfield;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $border-color;
    border-radius: em(5);

    @media (max-width: $tablet) {
      flex-direction: row;
      border-radius: em(8);
      gap: em(4);
      padding: em(4);
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: em(16);
    height: em(16);

    @media (max-width: $tablet) {
      width: em(32);
      height: em(32);
    }

    svg {
      fill: $primary-color;
      width: 100%;
      height: 100%;
    }

    &--increase svg {
      transform: rotate(90deg);
    }

    &--decrease {
      svg {
        transform: rotate(-90deg);
      }

      @media (max-width: $tablet) {
        order: -1;
      }
    }
  }
}

.payment-info {
  display: flex;
  flex-direction: column;
  box-shadow: $cart-products-shadow;
  border: 1px solid $border-color;
  border-radius: em(14);
  padding: clamp(rem(20), 3vw, rem(40));
  width: 38%;
  align-self: flex-start;

  @media (max-width: $laptop) {
    width: 100%;
  }

  &__title {
    margin-bottom: em(16);
  }

  &__decoration {
    width: 100%;
    height: 2px;
    background-color: $text-color;
    margin-bottom: clamp(rem(20), 3vw, rem(40));
  }

  &__price {
    display: flex;
    flex-direction: column;
    margin-bottom: em(24);

    div {
      display: flex;
      justify-content: space-between;
      font-size: rem(24);
      margin-bottom: em(24);

      @media (max-width: $tablet) {
        font-size: rem(20);
      }
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
    margin-bottom: clamp(rem(24), 3vw, rem(50));
  }

  &__pay-btn {
    font-size: clamp(rem(24), 2vw, rem(32));
    text-transform: uppercase;
    border-radius: em(20);
    border: 1px solid $border-color;
    box-shadow: $products-shadow;
    background-color: $primary-color-light;
    padding: em(6);
    width: clamp(rem(180), 20vw, rem(252));
    align-self: center;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
