@use "../variables" as *;
@use "../utils/functions" as *;

.sales-products-section {
  &__content {
    background-color: $primary-color-light;
    border-radius: em(16);
    padding: em(50) em(12);
    box-shadow: $shadow;
  }

  &__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(em(320), 1fr));
    gap: em(20);

    @media (max-width: $laptop) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    align-items: stretch;
    box-shadow: $products-shadow;
    border-radius: em(20);
    border: 1px solid $border-color;
    padding: em(24);

    @media (max-width: $tablet) {
      padding: em(16);
    }

    @media (max-width: $mobile) {
      padding: em(12);
    }
  }
}
